h5, p{
    text-align: center;
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    color: whitesmoke;
}

.btn{
    text-align: center;

}
h6{
    text-align: center;
    color:whitesmoke;
}
.jumbotron {
    padding: 1rem 2rem !important;
    text-align: center !important;
}

.custom-button{
    border-radius: 5em !important;
    background:  #2E2D2B;
    color: whitesmoke;
    /* background: rgb(147, 184, 29); */
    outline: none;
    border-color: rgb(147, 184, 29);
    /* display: flex; */
  align-items: center;
  justify-content: center;
  
}

button:focus {
  outline-color:rgb(147, 184, 29) !important;
}

.custom-button-onActive{
  border-radius: 5em !important;
  background: rgb(147, 184, 29);
  outline: none;
  border-color: rgb(147, 184, 29);
  /* display: flex; */
align-items: center;
justify-content: center;
}



.flex-container {
    display: flex;
    justify-content: center;
  }

  button:visited {
    color: purple;
  }


  .btn-default {
    color: white;
    background-color: blue;
  
  }
  
  .btn-change {
    color: Red;
    background-color: white;
  }